@page
@model Mission09.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Your purchase has been completed. Have a great day!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
